<mat-card *ngIf="pokemon" class="pokemon-detail">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <img mat-card-lg-image src="assets/img/official-artwork/{{pokemon.id}}.png">
        <mat-card-subtitle>No. {{pokemon.id}}</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item> {{pokemon.name}} </mat-list-item>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip *ngFor="let type of pokemon.types">{{type}} </mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item> Taille: {{pokemon.height}} m </mat-list-item>
        <mat-list-item> Poids: {{pokemon.weight}} kg</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">{{pokemon.description}}</mat-grid-tile>
  </mat-grid-list>
  <div class="goBackBtn">
    <button (click)="goBack()" >Go back to the list</button>
  </div>
</mat-card>


